%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

{release, {gmqx, "3.0"}, [
    kernel,
    sasl,
    crypto,
    public_key,
    asn1,
    syntax_tools,
    ssl,
    xmerl,
    os_mon,
    inets,
    compiler,
    runtime_tools,
    {observer, load},
    gproc,
    luerl,
    esockd,
    clique,
    cuttlefish,
    jsx,
    cowboy,
    pbkdf2,
    bcrypt,
    gmqx,
    {mnesia, load},
    {ekka, load},
    {gmqx_sn, load},
    {gmqx_coap, load},
    {gmqx_lwm2m, load},
    {gmqx_recon, load},
    {gmqx_stomp, load},
    {gmqx_statsd, load},
    {gmqx_management, load},
    {gmqx_retainer, load},
    {gmqx_reloader, load},
    {gmqx_dashboard, load},
    {gmqx_delayed_publish, load},
    {gmqx_web_hook, load},
    {gmqx_lua_hook, load},
    {gmqx_auth_clientid, load},
    {gmqx_auth_username, load},
    {gmqx_auth_ldap, load},
    {gmqx_auth_http, load},
    {gmqx_auth_mongo, load},
    {gmqx_auth_mysql, load},
    {gmqx_auth_pgsql, load},
    {gmqx_auth_redis, load},
    {gmqx_auth_jwt, load},
    {gmqx_plugin_template, load}
]}.

{include_src, false}.

{extended_start_script, false}.

{generate_start_script, false}.

{sys_config, false}.

{vm_args, false}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "etc/"},
    {mkdir, "log/"},
    {mkdir, "data/"},
    {mkdir, "data/mnesia"},
    {mkdir, "data/configs"},
    {mkdir, "hook_lua"},
    {template, "bin/gmqx_env", "bin/gmqx_env"},
    {template, "bin/gmqx", "bin/gmqx"},
    {template, "bin/gmqx_ctl", "bin/gmqx_ctl"},
    {template, "bin/gmqx.cmd", "bin/gmqx.cmd"},
    {template, "bin/gmqx_ctl.cmd", "bin/gmqx_ctl.cmd"},
    {copy, "rel/conf/plugins", "etc/"},
    {copy, "deps/gmqx/etc/certs", "etc/"},
    {template, "rel/conf/gmqx.conf", "etc/gmqx.conf"},
    {template, "rel/conf/vm.args", "etc/vm.args"},
    {template, "rel/conf/ssl_dist.conf", "etc/ssl_dist.conf"},
    {template, "rel/conf/plugins/gmqx_coap.conf", "etc/plugins/gmqx_coap.conf"},
    {template, "rel/conf/plugins/gmqx_lwm2m.conf", "etc/plugins/gmqx_lwm2m.conf"},
    {copy, "rel/conf/acl.conf", "etc/acl.conf"},
    {copy, "data/loaded_plugins", "data/loaded_plugins"},
    {copy, "bin/nodetool", "bin/nodetool"},
    {copy, "rel/schema", "releases/\{\{rel_vsn\}\}/"},
    {copy, "bin/install_upgrade_escript", "bin/install_upgrade_escript"},
    {copy, "deps/cuttlefish/cuttlefish", "bin/"},
    {copy, "deps/gmqx_lwm2m/lwm2m_xml", "etc/"}
]}.

